/* MainScreen.module.css */
@font-face {
    font-family: 'GangwonEdu_OTFBoldA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2201-2@1.0/GangwonEdu_OTFBoldA.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

.mainScreen {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50rem;
    font-family: 'GangwonEdu_OTFBoldA';
}

@media (min-width: 390px) {
    .mainScreen {
        width: 100%;
    }
}
